@import "./ol.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
import "@park-ui/tailwind-plugin/preset.css"



body {
  font-family: sans-serif;
}

:root {
  --accent: black;
}

#root {
  display: grid;
  width: 100%;
  min-height: 100vh;
}